.profile,.interest{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 200px;
}
h2{
    padding:15px 0;
    text-align: left;
}
.row {
    display: flex;
    flex-direction: row;
    width:700px;
    margin: 0;
    padding: 0;      
}
.image img{
    width: 70px;
    border-radius: 50%;
}
.image,.detail{
    flex-basis: 150px;
}
.edit{
    flex-basis:400px;
    text-align: right; 
    font-size: small;   
}

.interest{
    background-color: blanchedalmond;
    border-radius: 2px;
    margin: 0px auto 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.image-container img {
    width: 70%;
    max-width: 300px;
}