body{
    display: flex;
    background-image:linear-gradient(rgba(0,0,0,0.57),rgba(0,0,0,0.5)), url(../img/bg.png);
    flex-direction: column;
    background-repeat:no-repeat ;
    background-attachment: fixed;
}
.search{
    display: flex;
    flex-direction:column;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 100px;
}
.search h2{
    margin: auto;
    color: #ffffff;
    padding: 10px;
}
.search-item input{
    font-size: 15px;
    width: 400px;
    padding: 2px;
    border: white;
    border-radius: 2%;
}

.cities {
    display: flex;
    flex-direction: column;
    background-color:  rgb(247, 247, 247);
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 80px;
}

.cities div{
    size: 20px;
    flex-basis: 20px;
    align-content: center;
}

.city img{
    width: 20vh;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 20px;
    overflow:hidden;
}

